.Ellipse-5 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: min(500px, 50vw);
    height: min(500px, 50vh);
    transform: translate(-50%, -50%);
    background: rgba(80, 124, 236, 0.719);
    filter: blur(200px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
}

.Ellipse-6 {
    position: absolute;
    left: 50%;
    width: min(500px, 50vw);
    height: min(500px, 50vh);
    transform: translate(-50%, -50%);
    background: rgba(80, 124, 236, 0.719);
    filter: blur(200px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
}


.text-style-1 {
    font-weight: 600;
    color: #37de8d;
}

.text-style-2 {
    font-weight: 600;
    color: #3c71f7;
}

.text-style-3 {
    font-weight: 600;
    color: #fff;
}

.why-join-us {
    height: 77px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f3f4f7;
}

@media (max-width: 768px) {
    .Ellipse-5 {
        filter: blur(100px);
        width: 70vw;
        height: 40vh;
    }
}

/* grid css */
.grid-container {
    display: grid;
    grid-template-areas:
        "box1 box1 box2 box3"
        "box4 box5 box5 box6";
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(260px, auto);
    gap: 1em;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    justify-content: center;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-areas:
            "box1 box1 box2"
            "box3 box5 box5"
            "box4 box6 box6";
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1024px) {
    .grid-container {
        grid-template-areas:
            "box1 box1"
            "box2 box3"
            "box5 box5"
            "box4 box6";
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6";
        grid-template-columns: 1fr;
    }
}

.box {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}