body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif !important;
  background-color: #020408;
  color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  max-width: none;

}

* {
  font-family: Inter, sans-serif !important;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  will-change: transform;
}

